//
// import stylesheets
// --------------------
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
// @import "../../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../../node_modules/bootstrap/dist/css/bootstrap-theme.css";

//
// geral
// --------------------
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #F6F6F6;
  --main-border-color: #111;
  --header-bg-color: #eee;
  --button-bg-color: rgba(0, 0, 0, 0.5);
  --button-text-color: #EEE;
  --input-bg-color: #eee;
  --input-text-color: #333;
  --button-register-bg-color: #2969d8;
  --button-register-bg-hover-color: #3572DB;
  --button-disabled-bg-color: #cccccc;
  --button-remove-bg-color: #fb2844;
  --button-remove-bg-hover-color: #fd5067;
  --table-bg-color: #fff;
  --table-border-color: #F6F6F6;
  /* --button-equal-bg-color: #28D060; */
}

body {
  background: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  // display: grid;
  // grid-gap: 15px;
  // grid-template-areas:
  //   "header"
  //   "main"
}

header {
  background-color: var(--header-bg-color);
  border-bottom: solid 1px var(--header-bg-color);
  // grid-area: header;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  margin: 0;
}

h1 span:last-child {
  font-size: 20px;
}

main {
  // grid-area: main;
  padding: 0 20px;
}

.form-register {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.form-register input {
  background: var(--input-bg-color);
  border: 0;
  box-shadow: none;
  outline: none;
  padding: 20px 10px;
  width: 100%;
  color: var(--input-text-color);
  text-align: left;
  font-size: 14px;
  border-radius: 0;
  grid-column: span 1;
}

.form-register__button {
  background-color: var(--button-register-bg-color);
  border-radius: 0px;
  border: 0;
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  padding: 20px;
  transition: background-color 0.8s ease;

  &:disabled {
    background-color: var(--button-disabled-bg-color);
  }

  &:hover {
    background-color: var(--button-register-bg-hover-color);
  }
}

.form-register__remove {
  background-color: var(--button-remove-bg-color);
  border-radius: 0px;
  border: 0;
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.8s ease;

  &:hover {
    background-color: var(--button-remove-bg-hover-color);;
  }
}

table {
  border-collapse: collapse;
  border: 0;
  margin-top: 30px;
  width: 100%;
}

table thead th,
table tbody td {
  background-color: var(--table-bg-color);
  border: solid 1px var(--table-border-color);
  padding: 5px;
  text-align: center;
}

table tbody td .image {
  max-width: 200px;
}
